@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

@import "bootstrap";

body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.light-dark-bg {
  background-color: lighten($dark, 6.5%);
}

.light-dark-border {
  border-color: lighten($dark, 10%) !important;
}